*{
    margin: 0%;
    padding: 0%;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}
body{
    background-color: #f2f4f7;
    width: 100%;
    height: 100%;
}
img{
    margin: 80px 0;
    padding: 0 570px;
    width: 200px;
}
p{
    margin: -60px 0;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.main{
    position: relative;
width: 300px;
height: 350px;
background-color: #ffffff;
margin: 110px 480px;
padding: 0 50px;
border-radius:10px ;
}
.inp {
    font-size: 15px;
    color: gray;
    position: absolute;
    text-align: left;
    border-radius: 10px;
    margin: 20px -30px;
    border: 1px solid #dddfe2;
    padding: 13px 180px;
}
.inp input{
    margin:0 -170px ;
    border: none;
}
.inp2 {
    font-size: 15px;
    position: absolute;
    color: gray;
    text-align: left;
    margin: 75px -30px;
    border-radius:10px;
    border: 1px solid #dddfe2;
    padding: 13px 180px;
}
.inp2 input{
    margin:0 -170px ;
    border: none;
}
.but {
    position: absolute;
    text-align: left;
    margin: 140px -30px;
    border-radius:10px;
    background-color: #3A6FE6;
    border: 1px solid #dddfe2;
    padding: 13px 151px;
}
.but button{
color: white;
background-color: #3A6FE6;
font-size: 20px;
    border: none;
    font-weight: 700;
}
a{
    position: absolute;
    margin: 210px 90px;
    color: #3A6FE6;
    text-decoration: none;
}
.lin{
    height: 250px;
    width: 355px;
    margin: 0 -30px;
border-bottom : 1px solid #DADDE1;
}
.button1{
    text-align: center;
    margin: 20px ;
}
.button1 button{
    cursor: pointer;
    padding: 15px 15px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid #48a421;
    background-color: #48a421;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.button1 button:hover{
    background-color: green;
}